*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	display: inline-block;
		
}
.blocks{
    margin: 5px;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}
.block {
    
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
#ruby {
    margin: 5px;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    background: red
}
#emmerald{
    background: green;
    margin: 5px;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}
#opal{
    background: black;
    margin: 5px;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}
#sapphire{
    background: blue;
    margin: 5px;
    border: 1px solid red;
    width: 200px;
    height: 200px;
}